.App {
  text-align: center;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1713916800&semt=ais');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-info {
  background-color: #f0f0f0;
  margin: auto;
  width: 500px;
  border: 1px solid black;
  margin-top: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
}

.heading {
  margin: 0;
  padding: 20px;
}
